from launch_ros.actions import Node

from launch import LaunchDescription

def generate_launch_description():
    return LaunchDescription(
        [
            Node(
                package="{{ prj_name }}_fpga_node",
                node_executable="talker",
                node_name="talker_%s" %  ip_name,
                parameters=[
                    {
                        "fpga_in_topic": "fpga_in_topic_%s" % ip_name,
                        "msg_type_suffix": str(map_num)
                    }
                ],
                output="screen",
            )
            for ip_name, map_num in {{ ip_map_nums }}.items()
        ]
    )
