**** 1- Setup Information ****

Forest project name:

Absolute IP path:

FPGA board name:

Absolute ROS2 dev_ws path:

Absolute FPGA .bit file path:

{% for n_ip in range(n_ips) %}
**** User IP {{ n_ip+1 }} definition ****
// User IP {{ n_ip+1 }}
User IP name:
User IP count:

**** User IP {{ n_ip+1 }}: Input definitions ****
{% for i in range(n_in[n_ip]) %}
// Input {{ i+1 }}

Input name:

Protocol:

Type:

Address Offset (if AXI-Lite):

{% endfor %}
**** User IP {{ n_ip+1 }}: Output definitions ****
{% for i in range(n_out[n_ip]) %}
// Output {{ i+1 }}

Output name:

Protocol:

Type:

Address Offset (if AXI-Lite):

{% endfor %}
{% endfor %}
