from launch_ros.actions import Node

from launch import LaunchDescription


def generate_launch_description():
    return LaunchDescription(
        [
            Node(
                package="{{ params.project }}",
                {%- if params.ros_distro == "eloquent" %}
                node_executable="listener",
                node_name="listener_%s" % ip_name,
                {%- else %}
                executable="listener",
                name="listener_%s" % ip_name,
                {%- endif %}
                parameters=[
                    {
                        "fpga_out_topic": "fpga_out_topic_%s" % ip_name,
                        "msg_type_suffix": str(map_num),
                    }
                ],
                output="screen",
                emulate_tty=True,
            )
            for ip_name, map_num in {{params.ip_map_nums}}.items()
        ]
    )
