from launch_ros.actions import Node

from launch import LaunchDescription


def generate_launch_description():
    ip_msg_table = {{ params.ip_msg_table }}
    return LaunchDescription(
        [
            Node(
                package="{{ params.project }}",
                {%- if params.ros_distro == "eloquent" %}
                node_executable="talker",
                node_name="talker_%s" % ip_name,
                {%- else %}
                executable="talker",
                name="talker_%s" % ip_name,
                {%- endif %}
                parameters=[
                    {
                        "fpga_in_topic": "fpga_in_topic_%s" % ip_name,
                        "msg_type_suffix": str(msg_suffix),
                    }
                ],
                output="screen",
                emulate_tty=True,
            )
            for ip_name, msg_suffix in ip_msg_table.items()
        ]
    )
