import os
import yaml

from ament_index_python.packages import get_package_share_directory
from launch_ros.actions import Node
from launch import LaunchDescription


def generate_launch_description():

    param = os.path.join(
        get_package_share_directory("{{ params.project }}"),
        "talker_node_parameters.yaml"
    )

    config = None
    talker_nodes = []
    with open(param, "r") as f:
        config = yaml.safe_load(f)
    for node_name, value in config.items():
        params = value["ros__parameters"]
        talker_nodes.append(
            Node(
                package="{{ params.project }}",
                {%- if params.ros_distro == "eloquent" %}
                node_executable="talker",
                node_name=node_name,
                {%- else %}
                executable="talker",
                name=node_name,
                {%- endif %}
                parameters=[params],
                output="screen",
                emulate_tty=True,
            )
        )
    return LaunchDescription(talker_nodes)
